@media print {
  .underline {
    display: block; /* Ensure the line is visible when printing */
  }
}

.form{
  text-align: right;
}
p{
  margin: 0;
  padding: 0;
}
.heading{
  width: 100%;
  height: 140px;
  display: flex;
}
.logo-box{
  width: 25%;
  height: auto;
}
.heading-box{
  width: 50%;
}
.heading-box p{
  text-align: center;
  margin-top: 10px;
  font-weight: 600;
  text-decoration: underline;
}
.nssf-logo{
  width: 110px;
  height: 120px;
  object-fit: cover;
  margin-top: 10px;
  margin-left: 30px;
}

.image-box{
  width: 110px;
  height: 120px;
  border: solid;
  border-width: 1px;
  margin-left: 30px;
  margin-top: 10px;
}
.image-box p{
  text-align: center;
  margin-top: 10px;
}
.details-form{
  width: 100%;
  height: 140px;
  margin-top: 10px;
}
.heading-2{
  text-align: center;
  font-weight: 700;
  text-decoration: underline;
}
.heading-details{
  margin-top: 10px;
  font-size: 16px;
  text-align: justify;
}
.part-A{
  width: 100%;
  height: 20px;
  margin-top: 5px;
}
.member-details{
  height: auto;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.line {
  position: relative;
  height: auto;
  flex: 1;
  margin-left: 10px; 
  border-bottom: 100%;
}
.underline{
  position: relative;
  z-index: 1;
}
.underline::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; 
  height: 1px;
  background-color: black; 
}
.line-1{
  margin-top: 0;
  border: none;
  border: solid;
  border-width: 0.5px;
  background-color: black;
}
.table{
  width: 100%;
  margin-top: 10px;
}
.table p{
  font-weight: 700;
}
.officer-details-table{
  width: 100%;
  border-collapse: collapse; 
}
.account-details{
  width: 30%;
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}
.correct{
  ms-transform: scale(1.5);
  webkit-transform: scale(1.5);
  transform: scale(1.5); 
}

.green-little-box{
  width: 10px;
  height: 20px;
  background-color: green;
}
